
.burgerMenu {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.line1Open {
  composes: line;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line2Open {
  composes: line;
  opacity: 0;
}

.line3Open {
  composes: line;
  transform: rotate(45deg) translate(-5px, -6px);
}
