.burgerMenu {
  position: relative;
}

.burgerIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #2E8B57;
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}

.menu.open {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: 1rem;
}

.item:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .burgerIcon {
    display: flex;
  }

  .menu {
    display: none;
  }
}
