.card {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 1.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* New style to make the link a block and remove text decoration */
.cardLink {
    display: block;
    text-decoration: none;
    color: inherit; /* Inherit the text color from the parent */
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
