.carouselContainer {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center; /* Center the items */
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #2E8B57 #f1f1f1; /* For Firefox */
}

/* For Chrome, Safari and Opera */
.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #2E8B57;
  border-radius: 6px;
  border: 2px solid #f1f1f1;
}
