.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-left: 2rem;
}

.item a {
  color: #2E8B57;
  text-decoration: none;
  font-weight: bold;
}

.fullMenu {
  display: block;
}

@media (max-width: 768px) {
  .fullMenu {
    display: none;
  }
}
